html {
  position: relative;
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}

.feed .ms-DocumentCard,
.feed .ms-DocumentCard-details {
  max-width: initial;
}
